html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: Verdana, sans-serif;
  font-size: 16px;
}

.slider-wrapper {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;

  border-radius: 1rem;

  background-color: darkslategray;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.slider__input {
  display: none;
}

.slider {
  width: 100%;

  border-radius: 1rem;

  overflow: hidden;
}

.slider__line {
  width: 400%;
  display: flex;
}

.slider__item {
  display: block;
  width: 25%;
}

.wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.slider__text {
  width: 50%;
  overflow: hidden;
}

.text__line {
  width: 400%;
  display: flex;

  font-size: 1.5rem;
  color: white;
}

.text__item {
  display: block;
  width: 25%;
}

.control {
  display: flex;
  gap: 0.5rem;
}

.control__btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.btn__item {
  display: block;
  width: 1rem;
  height: 1rem;

  border-radius: 50%;
  
  background-color: dodgerblue;
  border: 0.2rem solid dodgerblue;
}

.control__btn:hover .btn__item {
  background-color: white;
  border-color: white;
}

/* actions */

#switch1:checked ~ .wrapper label:nth-child(1) .btn__item,
#switch2:checked ~ .wrapper label:nth-child(2) .btn__item,
#switch3:checked ~ .wrapper label:nth-child(3) .btn__item,
#switch4:checked ~ .wrapper label:nth-child(4) .btn__item {
  background-color: transparent;
}

/* main slider */

#switch1:checked ~ .slider .slider__line {
  margin-left: 0;
}

#switch2:checked ~ .slider .slider__line {
  margin-left: -100%;
}

#switch3:checked ~ .slider .slider__line {
  margin-left: -200%;
}

#switch4:checked ~ .slider .slider__line {
  margin-left: -300%;
}

/* text slider */

#switch1:checked ~ .wrapper .text__line {
  margin-left: 0;
}

#switch2:checked ~ .wrapper .text__line {
  margin-left: -100%;
}

#switch3:checked ~ .wrapper .text__line {
  margin-left: -200%;
}

#switch4:checked ~ .wrapper .text__line {
  margin-left: -300%;
}

